<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&family=PT+Serif&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <link href="css\styles.css" rel="stylesheet">
    <title>Mercado Liebre</title>
</head>
<body>
    <header class="main-header">
        <section class="main-header-top-bar">
            <div class="main-header-search-bar">
                <picture class="img-header">
                    <img class="logo" src="img/logo-mercado-liebre.svg" alt="logoMercadoLiebre">
                </picture>
                <form class="nav-search">
                    <input class="search" type="text" placeholder="Estoy buscando...">
                    <i class="fa-solid fa-magnifying-glass icon-search"></i>
                </form>
            </div>
            <h4 class="copy-header">
                <i class="fa-solid fa-hand-holding-dollar"></i>
                Comprá en cuotas y sin tarjeta de crédito
            </h4>
        </section>
    
        <a href="#" class="hamburguer-button">
            <i class="fas fa-bars"></i>
        </a>
    
        <nav class="main-navbar">
            <ul class="left-navbar">
                <li>
                    <a href="#">Ofertas</a>
                </li>
                <li>
                    <a href="#">Tiendas Oficiales</a>
                </li>
                <li>
                    <a href="#">Vender</a>
                </li>
                <li>
                    <a href="#">Ayuda</a>
                </li>
            </ul>
            <ul class="right-navbar">
                <li>
                    <a href="register.html">Creá tu cuenta
                        <i class="fa-regular fa-address-card"></i>
                    </a>
                </li>
                <li>
                    <a href="login.html">Ingresá
                        <i class="fa-solid fa-right-to-bracket"></i>
                    </a>
                </li>
                <li>
                    <a href="/">Mis compras
                        <i class="fa-solid fa-basket-shopping"></i>
                    </a>
                </li>
            </ul>
        </nav>
    </header>

    <section class="bannerHome">
        <img src="img/img-home-banner.jpg" alt="">
    </section>
    
    <main class="main-content">
        <h3>
            Basado en tu última visita
        </h3>
        <section>           
            <article>
                <div class="img-producto">
                    <img src="img/img-cafetera-moulinex.jpg" alt="fotoCafetera">
                </div>
                <div class = "descripcion-article">
                    <div>
                        <i class="fa-sharp fa-solid fa-truck"></i>
                    </div>
                    <div class="valores">
                        <div class="precio">
                            <p>$6.770</p>
                        </div>
                        <div class="descuento">
                            <p>40% OFF</p>
                        </div>
                    </div>
                    <div class="titulo-prod">
                        <p>Cafetera Moulinex</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="img-producto">
                    <img src="img/img-macbook-pro-2019.jpg" alt="fotoMac">
                </div>
                <div class="descripcion-article">
                    <div>
                    <i class="fa-sharp fa-solid fa-truck"></i>
                    </div>
                    <div class="valores">
                        <div class="precio">
                            <p>$230.000</p>
                        </div>
                        <div class="descuento">
                            <p>20% OFF</p>
                        </div>
                    </div>
                    <div class="titulo-prod">
                        <p>MacBook Pro 2019</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="img-producto">
                    <img src="img/img-samsung-galaxy-s10.jpg" alt="fotoSamsung">
                </div>
                <div class="descripcion-article">
                    <div>
                    <i class="fa-sharp fa-solid fa-truck"></i>
                    </div>
                    <div class="valores">
                        <div class="precio">
                            <p>$70.500</p>
                        </div>
                        <div class="descuento">
                            <p>10% OFF</p>
                        </div>
                    </div>
                    <div class="titulo-prod">
                        <p>Samsung Galaxy S10</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="img-producto">
                    <img src="img/img-tv-samsung-smart.jpg" alt="fotoTvSamsung">
                </div>
                <div class="descripcion-article">
                    <div>
                        <i class="fa-sharp fa-solid fa-truck"></i>
                    </div>
                    <div class="valores">
                        <div class="precio">
                            <p>$23.200</p>
                        </div>
                        <div class="descuento">
                            <p>5% OFF</p>
                        </div>
                    </div>
                    <div class="titulo-prod">
                        <p>SmartTv Samsung 43"</p>
                    </div>
                </div>
            </article>            
        </section>
        <h3>
            Sección Ofertas
        </h3>
        <section>           
            <article>
                <div class="img-producto">
                    <img src="img/img-cafetera-moulinex.jpg" alt="fotoCafetera">
                </div>
                <div class = "descripcion-article">
                    <div>
                        <i class="fa-sharp fa-solid fa-truck"></i>
                    </div>
                    <div class="valores">
                        <div class="precio">
                            <p>$6.770</p>
                        </div>
                        <div class="descuento">
                            <p>40% OFF</p>
                        </div>
                    </div>
                    <div class="titulo-prod">
                        <p>Cafetera Moulinex</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="img-producto">
                    <img src="img/img-macbook-pro-2019.jpg" alt="fotoMac">
                </div>
                <div class="descripcion-article">
                    <div>
                    <i class="fa-sharp fa-solid fa-truck"></i>
                    </div>
                    <div class="valores">
                        <div class="precio">
                            <p>$230.000</p>
                        </div>
                        <div class="descuento">
                            <p>20% OFF</p>
                        </div>
                    </div>
                    <div class="titulo-prod">
                        <p>MacBook Pro 2019</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="img-producto">
                    <img src="img/img-samsung-galaxy-s10.jpg" alt="fotoSamsung">
                </div>
                <div class="descripcion-article">
                    <div>
                    <i class="fa-sharp fa-solid fa-truck"></i>
                    </div>
                    <div class="valores">
                        <div class="precio">
                            <p>$70.500</p>
                        </div>
                        <div class="descuento">
                            <p>10% OFF</p>
                        </div>
                    </div>
                    <div class="titulo-prod">
                        <p>Samsung Galaxy S10</p>
                    </div>
                </div>
            </article>
            <article>
                <div class="img-producto">
                    <img src="img/img-tv-samsung-smart.jpg" alt="fotoTvSamsung">
                </div>
                <div class="descripcion-article">
                    <div>
                    <i class="fa-sharp fa-solid fa-truck"></i>
                    </div>
                    <div class="valores">
                        <div class="precio">
                            <p>$23.200</p>
                        </div>
                        <div class="descuento">
                            <p>5% OFF</p>
                        </div>
                    </div>
                    <div class="titulo-prod">
                        <p>SmartTv Samsung 43"</p>
                    </div>
                </div>
            </article>            
        </section>
    </main>
    <footer>
        <section class="footer-section">
            <div>
                <i class="fa-solid fa-credit-card ifooter"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <i class="fa-solid fa-gift ifooter"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <i class="fa-sharp fa-solid fa-user-shield ifooter"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
        </section>
        <p id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>