<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Maven+Pro&family=PT+Serif&family=Quicksand:wght@300&family=Roboto&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.1/css/all.min.css"/>
    <link href="css\styles.css" rel="stylesheet">
    <title>Registro-Mercado Liebre</title>
</head>
<header class="main-header">
    <section class="main-header-top-bar">
        <div class="main-header-search-bar">
            <picture class="img-header">
                <img class="logo" src="img/logo-mercado-liebre.svg" alt="logoMercadoLiebre">
            </picture>
            <form class="nav-search">
                <input class="search" type="text" placeholder="Estoy buscando...">
                <i class="fa-solid fa-magnifying-glass icon-search"></i>
            </form>
        </div>
        <h4 class="copy-header">
            <i class="fa-solid fa-hand-holding-dollar"></i>
            Comprá en cuotas y sin tarjeta de crédito
        </h4>
    </section>

    <a href="#" class="hamburguer-button">
        <i class="fas fa-bars"></i>
    </a>

    <nav class="main-navbar">
        <ul class="left-navbar">
            <li>
                <a href="/">Ofertas</a>
            </li>
            <li>
                <a href="#">Tiendas Oficiales</a>
            </li>
            <li>
                <a href="#">Vender</a>
            </li>
            <li>
                <a href="#">Ayuda</a>
            </li>
        </ul>
        <ul class="right-navbar">
            <li>
                <a href="register.html">Creá tu cuenta
                    <i class="fa-regular fa-address-card"></i>
                </a>
            </li>
            <li>
                <a href="login.html">Ingresá
                    <i class="fa-solid fa-right-to-bracket"></i>
                </a>
            </li>
            <li>
                <a href="/">Mis compras
                    <i class="fa-solid fa-basket-shopping"></i>
                </a>
            </li>
        </ul>
    </nav>
</header>
<body>
    <section class="main-loggin">
        <form class="formulario-loggin" action="">
            <div class="titulo-bienvenida-loggin">
                <p>Iniciar sesión<p>
            </div>
            <div>
                <input class="input-user-loggin" type="text" id="usuario" name="usuario" placeholder="Nombre de usuario" required>
            </div>
            <div>
                <input class="input-user-loggin" type="password" name="contrasenia" minlength="6" placeholder="Contraseña">
            </div>
            <section class="button-section-loggin">
                <button type="submit"><a href="/">Ingresar</a></button>
            </section>
        </form>
    </section>
    <footer>
        <section class="footer-section">
            <div>
                <i class="fa-solid fa-credit-card ifooter"></i>
                <h3>Pagá con tarjeta o en efectivo</h3>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en
                puntos de pago. ¡Y siempre es seguro!</p>
            </div>
            <div>
                <i class="fa-solid fa-gift ifooter"></i>
                <h3>Envío gratis desde $ 2.500</h3>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de
                    productos. Es un beneficio de Mercado Puntos.</p>
            </div>
            <div>
                <i class="fa-sharp fa-solid fa-user-shield ifooter"></i>
                <h3>Seguridad, de principio a fin</h3>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que no puedas hacer,
                    porque estás siempre protegid@.</p>
            </div>
            
        </section>
        <p id="copyright">Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
    </footer>
</body>
</html>